@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <img class="logo" src="https://i.ibb.co/WBdRfSh/imbg-logo.png" alt="IMBg">
    <h4>Internet Movie <span style="text-decoration: line-through;">Database</span> Basilídes de Godoy</h4>
    <p>Cadastre dados de filmes!</p>

    <hr class="my-5">

    <h2 class="display-6 mb-5">Cadastre um novo...</h2>

    <div class="options">
        @* Link to /Director *@
        <div class="card" style="width: 18rem;" onclick="location.href='/Director'">
            <img src="https://images.pexels.com/photos/3379934/pexels-photo-3379934.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&fit=crop&crop=focalpoint"
                class="card-img-top" alt="Silhueta de um diretor">
            <div class="card-body">
                <h5 class="card-title">Diretor</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;" onclick="location.href='/Genre'">
            <img src="https://images.pexels.com/photos/278887/pexels-photo-278887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&fit=crop&crop=focalpoint"
                class="card-img-top" alt="Blocos com letras">
            <div class="card-body">
                <h5 class="card-title">Gênero de Filme</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;" onclick="location.href='/Movie'">
            <img src="https://images.pexels.com/photos/3945316/pexels-photo-3945316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&fit=crop&crop=focalpoint"
                class="card-img-top" alt="Clquete de filme">
            <div class="card-body">
                <h5 class="card-title">Filme</h5>
            </div>
        </div>
    </div>
</div>
