html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  cursor: pointer;
  transition: all 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.logo {
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.navbar-collapse {
  height: 2.5rem;
}

.navbar-brand > img {
  height: 2.5rem;
  width: auto;
}
